html {
  width: 100% !important;
  background-color: rgb(198, 255, 245);

  /* background-color: rgb(1, 19, 19); */
}
* {
  font-family: "Roboto Mono", monospace;
}
#intro {
  background: url(../images/blu.jpg) no-repeat;
  background-size: cover !important;
  background-position: center;
}
#intro {
  height: 100vh;
}
.terminal {
  margin-bottom: 4%;
  padding: 0;
  text-align: center;
  opacity: 0.8;
  background-color: #101c28;
  border-radius: 25px;
}
.terminal-2 {
  margin: auto;
  padding: 0;
  opacity: 1;
  background-color: #101c28;
  border-radius: 25px;
}
.project-link {
  font-size: 2.5em;
}
.card-image {
  margin: 3%;
}
.project-chart {
  height: 100%;
}
.navbar * {
  color: white;
  background-color: #101c28;
}
.head-title {
  padding: 5%;
  margin-top: 40px;
}
.title {
  color: #f0c243;
}
.portfolioDiv {
  margin: 1%;
}
.portfolioDiv {
  opacity: 0;
  /* transition: all 1s ease-out; */
}
.portfolioDiv.fade-in {
  opacity: 1;
}

.button.is-link {
  background-color: #579c87;
}
.button {
  margin: 10%;
}
.content {
  color: #d0c9c9;
}
.card-image {
  text-align: center;
}
#download-cv {
  background-color: #f0513a;
}

#intro .card {
  height: 70vh;
}
#slide02 .card,
#slide03 .card {
  background: none;
  border-style: none;
  box-shadow: none;
}
#slide03 .label {
  color: white;
}
/* #slide02 .card-content {
  margin: 1.5em;
} */
#para {
  color: white;
}
#scroll-down {
  font-size: 0.5em;
}
#me {
  margin: auto;
  margin-top: 5%;
  border-radius: 25px;
}
#mail-Img {
  width: 25%;
}
/* =========== V . C this part was made by a third party although i did some modifications============== */
#cv {
  border-radius: 25px;
  border-style: solid;
  border-color: purple;
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-width: 80%;

  background: #f3f3f3;
  z-index: 1;
}
.clear {
  clear: both;
}

#cv p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: #444;
}

.mainDetails {
  padding: 10px 25px;
  border-bottom: 2px solid #cf8a05;
  background: #ededed;
}

#name h1 {
  font-size: 2em;
  font-weight: 700;
  font-family: "Rokkitt", Helvetica, Arial, sans-serif;
  margin-bottom: -6px;
}

#name h2 {
  font-size: 1.5em;
  margin-left: 2px;
  font-family: "Rokkitt", Helvetica, Arial, sans-serif;
}

#mainArea {
  padding: 0 40px;
}

#headshot {
  width: 14%;
  float: left;
  margin-right: 30px;
}

#headshot img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#name {
  float: left;
}

#contactDetails {
  float: right;
}

#contactDetails ul {
  list-style-type: none;
  font-size: 0.9em;
  margin-top: 15px;
}

#contactDetails ul li {
  margin-bottom: 1px;
  color: #444;
}

#contactDetails ul li a,
a[href^="tel"] {
  color: #444;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#contactDetails ul li a:hover {
  color: #cf8a05;
}

section {
  border-top: 1px solid #dedede;
  padding: 20px 0 0;
}

section:first-child {
  border-top: 0;
}

section:last-child {
  padding: 20px 0 10px;
}

.sectionTitle {
  float: left;
  width: 25%;
}

.sectionContent {
  float: right;
  width: 72.5%;
}

.sectionTitle h1 {
  font-family: "Rokkitt", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 1.5em;
  color: #cf8a05;
}

.sectionContent h2 {
  font-family: "Rokkitt", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin-bottom: -2px;
}

.subDetails {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 3px;
}

.keySkills {
  list-style-type: none;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  margin-bottom: 20px;
  font-size: 1em;
  color: #444;
}

.keySkills ul li {
  margin-bottom: 3px;
}

@media all and (min-width: 1092px) and (max-width: 800px) {
  #headshot {
    display: none;
  }

  .keySkills {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media all and (max-width: 800px) {
  #cv {
    width: 100%;
    margin: 0;
    /* min-width: 280px; */
  }
  #cv ul {
    margin: 0;
  }
  #cv a {
    display: none;
  }
  #headshot {
    display: none;
  }

  #name,
  #contactDetails {
    float: none;
    width: 100%;
    text-align: center;
  }

  .sectionTitle,
  .sectionContent {
    float: none;
    width: 100%;
  }

  .sectionTitle {
    margin-left: -2px;
    font-size: 1.25em;
  }

  .keySkills {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media all and (max-width: 480px) {
  #cv {
    width: 100%;
    margin: 0;
    /* min-width: 280px; */
  }
  .mainDetails {
    padding: 15px 15px;
  }

  /* section {
    padding: 15px 0 0;
  } */

  #mainArea {
    padding: 0 25px;
  }

  .keySkills {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  #name h1 {
    line-height: 0.8em;
    margin-bottom: 4px;
  }
}

@media print {
  #cv {
    width: 100%;
  }
}

@-webkit-keyframes reset {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes reset {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reset {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.instaFade {
  -webkit-animation-name: reset, fade-in;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;

  -moz-animation-name: reset, fade-in;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease-in;

  animation-name: reset, fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

.quickFade {
  -webkit-animation-name: reset, fade-in;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in;

  -moz-animation-name: reset, fade-in;
  -moz-animation-duration: 1.5s;
  -moz-animation-timing-function: ease-in;

  animation-name: reset, fade-in;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

.delayOne {
  -webkit-animation-delay: 0, 0.5s;
  -moz-animation-delay: 0, 0.5s;
  animation-delay: 0, 0.5s;
}

.delayTwo {
  -webkit-animation-delay: 0, 1s;
  -moz-animation-delay: 0, 1s;
  animation-delay: 0, 1s;
}

.delayThree {
  -webkit-animation-delay: 0, 1.5s;
  -moz-animation-delay: 0, 1.5s;
  animation-delay: 0, 1.5s;
}

.delayFour {
  -webkit-animation-delay: 0, 2s;
  -moz-animation-delay: 0, 2s;
  animation-delay: 0, 2s;
}

.delayFive {
  -webkit-animation-delay: 0, 2.5s;
  -moz-animation-delay: 0, 2.5s;
  animation-delay: 0, 2.5s;
}
